{% extends 'main.html' %}
{% block title %}phoneboo{% endblock %}
{% block content %}
    <h3 class="text-center">전화번호부 수정페이지</h3>
    <form method="post">{% csrf_token %}
        <table class="table table-bordered border-primary" style="width:60%;" align="center">
            <tr>
                <th style="text-align: right;">이름</th>
                <td><input type="text" name="name" value="{{ userInfo.이름 }}"></td>
            </tr>
            <tr>
                <th style="text-align: right;">전화번호</th>
                <td><input type="text" name="telnum" value="{{ userInfo.전화번호 }}"></td>
            </tr>
            <tr>
                <th style="text-align: right;">이메일</th>
                <td><input type="email" name="email" value="{{ userInfo.이메일 }}"></td>
            </tr>
            <tr>
                <th style="text-align: right;">주소</th>
                <td><input type="text" name="address" value="{{ userInfo.주소 }}"></td>
            </tr>
            <tr>
                <th style="text-align: right;">생년월일</th>
                <td><input type="date" name="birth" value="{{ userInfo.생년월일 | date:'Y-m-d' }}"></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="button" class="btn btn-primary btn-lg" onclick="document.location.href='/phonebook/index/'" value="목록으로">
                    <input type="submit" class="btn btn-success btn-lg" style="width:120px;" value="수정">
                    <input type="reset" class="btn btn-danger btn-lg" style="width:120px;" value="다시 입력">
                </td>
            </tr>
        </table>
    </form>
{% endblock %}